.trash-page {
  display: flex;
}
.trash-mails {
  flex: 1;
}

.trash-mails h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #111827;
  margin: 40px 0;
}

.trash-mails p {
  margin: 10px 0;
}

.delete-function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.restore-button {
  border: none;
  background: none;
  color: #ef4444;
  font-weight: 700;
  font-size: 15px;
}
